.add-todo {
  background: white;
  border-radius: 5px;
  margin-bottom: 1rem;

  form {
    padding: 1.5rem;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: auto auto min-content;

    input {
    }

    select {
      min-width: 100%;
    }

    button {
    }
  }
}