.sort-todos {
  background: white;
  border-radius: 5px 5px 0 0;

  form {
    padding: 1.5rem;
    display: grid;
    grid-gap: .2rem;
    grid-template-columns: auto auto min-content;

    > div {
      
      select {
        min-width: 100%;
      }
    }
  }
}